$gray: #686868;
$dark-gray: #282828;
$light-gray: #c0c0c0;
$light-gray-border: #f5f5f5;
$blue: #4a52bb;
$light-blue: #f3f1ff;
$deep-blue: #454caf;
$orange: #f3a712;
$deep-orange: #de9a11;
$light-orange: #ffe710;
$red: #ff2727;
$light-red: #ffcfcf;
$green: #00cb14;
$light-green: #e5fae6;
$white: #ffffff;
$input-border: #e7e7e7;
$sand: #ffe2a9;
$form-background: #fcfaff;
$button-gradient-start: #393bff;
$button-gradient-end: #9820ff;
$button-hover: #c09031;
$border-color: #4a55bd;
$button-add-color: #7b7b7b;
$teal: #14b8a6;
